blinker==1.4
click==6.7
Flask==0.12
Flask-HTTPAuth==3.2.1
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-Security==1.7.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.9.4
lob==2.26
MarkupSafe==0.23
passlib==1.7.0
psycopg2==2.6.2
requests==2.12.4
SQLAlchemy==1.1.4
Werkzeug==0.11.15
WTForms==2.1
