<!DOCTYPE html>
<html lang="en">

<!-- On the blog html-query all the POST
on blog route query all post the same as I queried comments, then pass them into template of Blog.html same as comment.html.
structured the format of the form through iterating it and display it nicely. -->


 
<head>
    <title>Blog</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <body style="background: #EBE8AB">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
 
 
</head>
 

 
    <div class="container">
              <div class="header">
                <h2 class="text-muted">Blog</h2>
            <nav>
                <ul class="nav nav-pills">
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/login">Login</a>
                    </li>
                    <li role="presentation"><a href="/search">Memory Care Facilities</a>
                    </li>
                    <li role="presentation"><a href="/senior">Senior Day Centers</a>
                    <li role="presentation"><a href="/blog">Blog</a>  
                    </li>  
                    <li role="presentation"><a href="/brain_tour">Brain Tour</a>
                    </li>  
                    </li>
                </ul>
            </nav>
            
        </div>
 
  <form method="POST" action='/blog'>
    
      <label>Title</label>
      <input type="text" name="title"><br>
      <label>Author</label>
      <input type="text" name="author"><br>
      <label>Text</label>
      <input type="text" name="text"><br>
      <input type="submit" value="Post" />

    </form>

    {% if post %}
      {{ post.title }}
      {{ post.author }}
      {{ post.timeposted }}
      {{ post.text }}
    {% endif %}
  

      <h2>Living with Alzheimer's</h2>
        <div>
            <a target="_blank" href="https://youtu.be/4QqL4i0Clyk">
                A Message People from People Living with Alzheimer's.</a>
           </div>     
 

          

</body>
 
</html>



