<!DOCTYPE html>
<html lang="en">

<!-- On the blog html-query all the POST
on blog route query all post the same as I queried comments, then pass them into template of Blog.html same as comment.html.
structured the format of the form through iterating it and display it nicely. -->


 
<head>
    <title>Blog</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <body style="background: #EBE8AB">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
 
 
</head>
 

 
    <div class="container">
              <div class="header">
                <h2 class="text-muted">Blog</h2>
            <nav>
                <ul class="nav nav-pills">
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/login">Login</a>
                    </li>
                    <li role="presentation"><a href="/search">Memory Care Facilities</a>
                    </li>
                    <li role="presentation"><a href="/senior">Senior Day Centers</a>
                    </li>
                    <li role="presentation"><a href="/blog">Blog</a>  
                    </li>  
                    <li role="presentation"><a href="/brain_tour">Brain Tour</a>
                    </li>  
                    </li>
                </ul>
            </nav>
            
        </div>

        
 
  <form method="POST" action='/blog'>
    
      <label><h2>Title</label></h2>
      <input type="text" name="title"><br>
      <label><h2>Author</label></h2>
      <input type="text" name="author"><br>
      <label><h2>Text</label></h2>
      <input type="text" name="text"><br>
      <input type="submit" value="Post" />

    </form>

    <hr>  

    {% for post in posts %}
      <div>
          <h3>{{ post.title }}</h3>
            <i>{{ post.timeposted }}</i>
             <p>{{ post.text }}</p>
        </div>
        {% endfor %}
  
  
          

</body>
 
</html>



