<html>
<head>
		<title>Alzheimers Facts</title>

	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    
<body style="background: #EBE8AB">
	<div class="container">
        <div class="header">
            <h2 class="text-muted">Alzheimers Facts</h2>
            <nav>
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/login">Login</a>
                    </li>
                    <li role="presentation"><a href="/search">Memory Care Facilities</a>
                    </li>
                    <li role="presentation"><a href="/senior">Senior Day Centers</a>
                    </li>
                     <li role="presentation"><a href="/blog">Blog</a>
                    </li>
                    <li role="presentation"><a href="/brain_tour">Brain Tour</a>
                    </li>

                </ul>
            </nav>
        </div>

    <div class="row">

    <div class="col-md-8">

              <div class="jumbotron">
            <h3>Learn About Different Types of Alzheimers</h3>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="/search">Sign up today</a>
            </p>
        </div>
 
			
    <h1>What do you want to know about the different types of dementia?</h1>


        <ul>
        {% for dementia_type in dementia_types %}

            <li style="font-size: 18px"><a href="/dementia_types/{{ dementia_type[0] }}">{{ dementia_type[1] }}</a></li>
        {% endfor %}
        </ul>

    </div>
    <div class="col-md-4">
        

        <img id="poem" src="{{url_for('static', filename='images/alzheimerspoem1.jpg') }}" />
    </div>

</div>


<!-- <ul><h3>Comments</h3>
    {% for comment in comments %}
        <li>{{comment.name}} , {{comment.timeposted}} , {{comment.text}} </li>
     {% endfor %}
   </ul>      -->

   <h2>Living with Alzheimer's</h2>
        <div>
            <a target="_blank" href="https://youtu.be/4QqL4i0Clyk">
                <h3>A Message People from People Living with Alzheimer's</a></h3>
           </div>   

	<!-- <form method="POST" action='/comment'>
		
			<input type="text" name="name"><br>
		      <input type="text" name="text"><br>
			<input type="submit" value="Submit" />

		</form>			 -->

    

  </body>
</html>