<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Search Address</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
              <div class="header">
                <h2 class="text-muted">Find Senior Living Near You</h2>
            <nav>
                <ul class="nav nav-pills">
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/login">Login</a>
                    </li>
                    <li class="active"role="presentation"><a href="/search">Memory Care Facilities</a>
                    </li>
                    <li role="presentation"><a href="/senior">Senior Day Centers</a>
                    </li>
                </ul>
            </nav>
            
        </div>
 

  <div class="jumbotron">
            
            

  <form action="/search/" method="POST">
    <div class="form-group">
      <label>Address Line 1</label>
      <input class="form-control" type="text" name="addressLine1" placeholder="123 Main St">
      </div>
     <div class="form-group"> 
      <label>City</label>
      <input class="form-control" type="text" name="city" placeholder="Anywhere">
      </div>
      <div class="form-group"> 
      <label>State</label>
      <input class="form-control" type="text" name="state" placeholder="VA">
      </div>
      <div class="form-group"> 
      <label>Zip Code</label>
      <input class="form-control" type="number" name="zipCode" placeholder="12345">
      </div>
      <input type="submit" value='Submit' class="btn btn-lg btn-success">
            
      {% if error %}
        {{ error }}
      {% endif %}

 </form>  

   </div>  
        
       
        {% if data %}
            <ul class="list-group"><h3>Memory Care Facilities</h3>
        {% for memory_care_facility in data %}
        <li class="list-group-item">
          {{ memory_care_facility[1] }}<br>
          {{ memory_care_facility[2] }}<br>
          {{ memory_care_facility[6] }}, {{ memory_care_facility[7] }} {{ memory_care_facility[8] }}<br>
          {{ memory_care_facility[3] }}<br>
          {{memory_care_facility[4] }}
          <a target="_blank" href="{{memory_care_facility[5] }}">{{memory_care_facility[5] }}</a>
        </li>
        {% endfor %}
            </ul>
        {% endif %}
        
     

    <img src="{{url_for('static', filename='images/senior-couple.jpg') }}" />

</body>
 
</html>
